.mockup {
  height: 840px;
  background-color: red;
}
.cardContainer {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}
.buttonContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.button {
  display: block;
  background-color: rgb(239, 91, 76);
  text-decoration: none;
  margin-top: 0.5em;
  padding: 8px 20px;
  border-radius: 5px;
  width: 210px;
  color: rgb(255, 255, 255);
  font-size: 16px;
  border: none;
  margin-bottom: 7.3em;
}
.button:hover {
  background-color: rgb(210, 67, 53);
  cursor: pointer;
}
.button:disabled {
  color: #8d8c8c;
  background-color: #d7d7d7;
}
@media (max-width: 1024px) {
  .mockup {
    height: 810px;
  }
}
@media (max-width: 790px) {
  .button {
    margin-top: -2em;
    margin-bottom: 4.9em;
  }
}
@media (max-width: 560px) {
  .cardContainer {
    margin-top: -45px;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
  }
  .button {
    margin-top: 0;
    margin-bottom: 4.9em;
  }
}
